<!DOCTYPE html>
<html>
<head>
     
    <title>Добавление сотрудника </title>
    <meta charset="utf-8" />
    <style>.field{width:180px;}</style>
</head>
<body>

    <h1>Добавление сотрудника</h1>
     <form method="POST">
        <label>Фамилия</label><br>
       <input name="fam" class="field"/><br><br>
        <label>Имя</label><br>
        <input name="name"  class="field" /><br><br>
        <label>Дата_рождения</label><br>
        <input name="daterj"  type="date" class="field" /><br><br>
        <label>Оклад</label><br>
        <input name="oklad"    class="field" /><br><br>
        <label>Дата_принятия</label><br>
        <input name="daterab" type="date" class="field" /><br><br>
        <label>Должность</label><br>
        <input name="doljn"  class="field" /><br><br>
        <label>Телефон</label><br>
        <input name="tel"  class="field" /><br><br>
        <label>Адрес</label><br>
        <input name="adres"  class="field" /><br><br>
        <label>Номер_графика</label><br>
        <input name="id_graf"  class="field" /><br><br>
        <input type="submit" value="Отправить" />
     </form>
     <a href="/index">К списку сотрудников</a>
</body>
<html>