<!DOCTYPE html>
<html>
<head>
    <title>Добавление в расчетный лист </title>
    <meta charset="utf-8" />
    <style>.field{width:180px;}</style>
</head>
<body>
    <h1>Добавление данных</h1>
     <form method="POST">
        <label>Фамилия</label><br>
       <input name="fam" class="field"/><br><br>
        <label>Премия</label><br>
        <input name="prem"  class="field" /><br><br>
        <label>Начисленно</label><br>
        <input name="nach"   class="field" /><br><br>
        <label>Удержано</label><br>
        <input name="uder"    class="field" /><br><br>
        <label>Итого</label><br>
        <input name="itog"  class="field" /><br><br>
        <label>Номер_графика</label><br>
        <input name="id_graf"  class="field" /><br><br>
        <label>Номер_сотрудника</label><br>
        <input name="id_sotr"  class="field" /><br><br>
        <label>Текущий_месяц</label><br>
        <input name="mes"  class="field" /><br><br>
        <label>Отпуск</label><br>
        <input name="otpus"  class="field" /><br><br>
        <input type="submit" value="Отправить" />
     </form>
     <a href="/indexx">К списку расчетного листа </a>
</body>
<html>