<title>Главная</title>
<center>
    <div class body style="background-color: #D8BFD8"></div>
    <br>
    <br>
    <br>
    <br>
  
<img scr="https://www.google.com/url?sa=i&url=https%3A%2F%2Fklike.net%2F1903-shkola-krasivye-kartinki-40-foto.html&psig=AOvVaw2VDzTEELCH3doSLiEmlo6F&ust=1648783224075000&source=images&cd=vfe&ved=0CAgQjRxqFwoTCKiD1Kay7_YCFQAAAAAdAAAAABAD">
<div class="eTitle" style="margin: -30px 0 15px 0;">#School №17</div>
<img src="https://klike.net/uploads/posts/2019-06/medium/1561110628_3.jpg">
<section class="content">
 <!-- <body> --><h3>Наименование образовательной организации:</h3>

<blockquote>
<p><strong>Полное наименование</strong>:&nbsp;Муниципальное бюджетное общеобразовательное учреждение&nbsp;"Средняя общеобразовательная школа № 17"</p>

<p><b>Сокращенное наименование</b>: МБОУ "СОШ № 17"</p>
</blockquote>

<hr>
<h3>Дата создания:</h3>

<blockquote>
<p>1 июля 1987 года</p>
</blockquote>

<hr>
<h3>Учредитель:</h3>

<blockquote>
<p>Управление образования администрации Ангарского городского округа</p>

<p>Адрес учредителя: 665824, г. Ангарск, квартал А, дом 20<br>
Тел.(факс): (3955) 54-06-43<br>
Режим работы: Пн.- Пт. с 9:00 до 17:00<br>
Электронная почта: <a href="mailto:obraz@angarsk-adm.ru">obraz@angarsk-adm.ru</a><br>
Адрес сайта: <a href="http://edu-angarsk.ru" target="_blank">http://edu-angarsk.ru</a></p>

<p><a href="/DOKS/dokyments/info/otkrytost_obrazovatelnoj_organizacii_i_mezhvedomst.pdf" target="_blank">Контактные телефонные номера УО ААГО</a></p>

<div><!--IMG1--><img style="margin:0;padding:0;border:0;" src="/_si/0/09095479.jpg" align=""><!--IMG1--></div>
</blockquote>

<hr>
<h3>Место нахождения образовательной организации:</h3>

<blockquote>
<p><strong>Адрес образовательной организации:</strong> 665836, г. Ангарск, 17 микрорайон, 17 дом</p>

<p><strong>Филиалы</strong>: отсутствуют</p>

<p><b>Территория, закрепленная за МБОУ "СОШ № 17":</b> <a href="https://1drv.ms/b/s!AuVPhbooxZaNhh_rFPWIZL1dH21r?e=IG8GRU" target="_blank">17 мкр, 17а мкр (Постановление №209-па от 12.03.2021)</a></p>
</blockquote>

<hr>
<h3>Места осуществления образовательной деятельности, в том числе не указанные в приложении к лицензии (реестре лицензий) на осуществление образовательной деятельности в соответствии с частью 4 статьи 91 Федерального закона от 29 декабря 2012 года&nbsp;№273-ФЗ "Об образовании в Российской Федерации":</h3>

<blockquote>
<p>665836, г. Ангарск, 17 микрорайон, 17 дом</p>
</blockquote>

<hr>
<h3>Режим работы:</h3>

<blockquote>
<p>Понедельник - пятница<br>
Образовательная организация работает в две смены<br>
Первая смена с 8:00 до 15:25<br>
Вторая смена с 14:00 до 18:30</p>





<p>Приказ МБОУ "СОШ №17" №343 от 08.11.2021&nbsp;</p>

<div><!--IMG2--><a href="/_si/0/63426306.jpg" class="ulightbox" target="_blank" title="Нажмите для просмотра в полном размере..."><img style="margin:0;padding:0;border:0;" src="/_si/0/s63426306.jpg" align=""></a><!--IMG2--></div>
</blockquote>

<hr>
<h3>Контактная информация:</h3>

<blockquote>
<p><b>Директор:</b>: Шелковникова Лариса Михайловна,&nbsp;(действует на основании Устава)<br>
&nbsp;</p>

<p><strong>Телефон (факс) приёмной директора:</strong> 8 (3955) 55-10-30<br>
Телефон (факс) бухгалтерии:&nbsp;8 (3955) 55-10-32 &nbsp;<br>
Телефон заместителей директора по УВР: 8(3955) 55-10-31<br>
Телефон зам.директора по АХЧ, вахты: 8(3955) 55-10-28</p>

<p><br>
<b>Электронная почта:</b> <a href="mailto:schelk@mail.ru">schelk@mail.ru</a><br>
<b>Адрес сайта:</b> <a href="http://coolscool17.ucoz.ru" target="_blank">http://coolscool17.ucoz.ru</a></p>
</blockquote>

<p>&nbsp;</p>

<hr>
<h4>&nbsp;</h4>
</body>

 </section>


